.container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Arial", sans-serif;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    width: 100vw;
}

@import url(https://fonts.googleapis.com/css?family=Lato:300);



.keys {
  font-family: 'Lato', sans-serif;    
  text-align: center;
  width: 500px;
  height: 200px;
  margin: auto;
}

.arr {
  cursor: pointer;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  background: grey;
  color: white;
  font-size: 50px; 
  display: inline-block;
  margin: 5px;
  transition: all .05s linear;
  &:active {
    border-bottom: 8px solid darken(grey, 20);
    text-shadow: 0 0 10px white, 0 0 10px white, 0 0 20px white;    
    transform: translate(0, 2px);
  }
  user-select: none;
}

.arr:hover {
  background: darken(grey, 10);
}




.slider-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    padding: 0.75rem;
    border-radius: 1rem;

}

.slider-div > p {
  font-weight: bolder;
  color: white;
}



.grid-container {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-gap: 20px;
  background-color: #fff;
  color: #444;
  
}

